.filter {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--extremely-light);
}
?.name {
  height: 100%;
}
.title {
  font-size: 30px;
  font-weight: 800;
}
.total {
  font-size: 15px;
  font-weight: 600;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 100%;
}
.addInvoice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--vivid-purple);
  gap: 5px;
  padding: 9px 14px;
  border-radius: 120px;
  height: 100%;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.addInvoice .text {
  font-weight: 800;
  color: var(--extremely-light);
}
.addInvoice .icon {
  height: 70%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 5px;
}
.addInvoice .icon span {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--extremely-light);
  color: var(--vivid-purple);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .disable {
    display: none;
  }
}
